@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --bg: #e4dfd4;
  --panel: #f7f6f2;
  --border: #6f6f6f;
  --text: #2a2a2a;  /*couleur du texte global*/
  --muted: #777;
  --accent: #444;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  background: var(--bg);
  color: var(--text);
}

.container {
  display: flex;
  height: 100vh;
}

/* Menu vertical */
.sidebar {
  width: 180px;
  background: var(--panel);
  border-right: 2px solid var(--border);
  padding: 24px 16px;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 14px;
  opacity: 0.6;
  cursor: pointer;
}

.sidebar li.active {
  opacity: 1;
  text-decoration: underline;
}

.sidebar li a {
  font-size: 20px; 
  color: var(--text); /* facultatif : couleur du texte */
  text-decoration: none; /* enlever le soulignement par défaut */
}

/* Contenu principal */
.content {
  flex: 1;
  padding: 32px;
  box-sizing: border-box;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 22px;
}

.content h1 {
  font-size: 36px;
  margin: 0;
}

.subtitle {
  font-size: 20px;
  color: var(--muted);
}

.content p {
  font-size: 22px;
  line-height: 1.4;
}
